/* **********************GOOGLE FONT LINK**************** */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
}

body {
  background-color: #3b3b98;
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
h2{
  margin: 10px 0 20px ;
  text-align: center;
}
.container{
  background-color: #23235b;
  padding: 20px;
  width: 350px;
  max-width: 100%;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2);
}
.result-container{
  background-color: rgba( 0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 12px 10px;
  height: 50px;
  width: 100%;

}
.result-container #result{
  word-wrap: break-word;
  max-width: calc(100% - 40px);
}
.result-container .btn{
  position: absolute;
  right: 5px;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 20px;
}
.btn{
  border: none;
  background-color: #3b3b98;
  color: white;
  font-size: 16px;
  padding:8px 12px ;
  cursor: pointer;
}
.btn-large{
  display: block;
  width: 100%;
}
.setting{
  display: flex;
  justify-content: space-between;
  align-items:center ;
  margin: 15px 0;
}
